/* font-family: 'Lobster Two', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */


body {
    background-color: #F9FAFC;
    font-family:'Lobster Two',sans-serif;
    font-weight: 500;
}

/* -- NAVBAR -- */

.navbar{
    padding: 1rem;
    margin-left: -30px;
    margin-right: -30px;
}

.navbar-light .navbar-brand{
    color: #ffff;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
}

.navbar-brand{
    font-size: 27px;
    font-weight: 600;
}

.navbar-nav > li > a:hover { 
    background-color:#DBEB4F;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

.dropdown-item:hover { 
    background-color:rgb(192, 134, 237);
    border-radius: 5px;
}

.search-tab, .search-btn{
    border-radius: 25px;
}


/* -- FOOTER -- */
footer {
    font-size: 30px;
}

.footer a {
    color: #DBEB4F;
}

.social-links {
    margin: 0;
    text-align: center;
    font-size: 30px;
}


/* -- HERO IMAGE -- */
.hero-image{
    /* background: url('../images/background-kitchen.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* -- Inspiration ADDED RECIPES SECTION -- */
.card-recently-added{
    margin: 0 auto;
    margin-bottom: 30px;
}

.img-fit{
    object-fit: cover;
}

.added-recipes-title{
    margin-top: 15px;
}

.display-6 {
    font-size: 20px;
}


/* -- ACCOUNTS PAGES -- */
.accounts-image{
    background: no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.accounts-section-margin{
    margin-bottom: 70px;
    margin-top: 20px;
}

.form-style{
    background-color: #c9edf0;
    padding: 25px 10px;
    height: 100%;
}


/* -- POST DETAILS PAGE--  */

.recipe-card-head {
    background-color: rgb(2, 176, 176);
}

.recipe-card-head-img > img{
    height: 33vh;
}

.recipe-title {
    margin-left: 5%;
    margin-top: 15px;
}

.recipe-subtitle {
    margin-left: 5%;
    margin-bottom: 0;
    color: #fff;
}

.recipes-content-body{
    background-color: #f9f9f9;
}


/* -- LOGIN/REGISTER BTN AND TITLE -- */

.col-title{
    padding: 50px 10px;
    background-color: rgba(2, 176, 176, 0.5); 
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: #fff;
    right: 30px;
}

.title{
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

.btn-login-register{
    padding: 10px;
}


/* -- ALL RECIPES PAGE -- */
.all-recipes-cards{
    background-color: #f9f9f9;
}


/* -- PAGINATION PAGE -- */
.pagination{
    display:block;
}


/* -- LOGIN / LOGOUT PAGE -- */
.login-register-bg{
    background-color: rgb(2, 176, 176);
}

.login-img > img {
    height: 70vh;
    width: 100%;
}

#id_remember {
    width: inherit;
}

.logout-img > img {
    height: 50vh;
    width: 100%;
}


.rec-card-position {
    margin: auto;
}


/* -- 700px and up -- */
@media only screen and (min-width: 765px){

    body{
        margin-left: 2%;
        margin-right: 2%;
    }

    .navbar{
        font-size: 1.2rem;
        padding: 1rem;
        margin-right: 10px;
    }

    .accounts-image{
        background: no-repeat center center;
        background-size: cover;
        height: 450px;
        width: 100%;
    }

    .accounts-section-margin{
        margin-top: 40px;
    }

    .image-padding{
        padding-right: 0px;
    }

    .form-left-padding{
        padding-left: 0;
    }

    .form-style{
        padding: 25px 30px;
        height: 450px;
    }

    .login-img > img {
        height: 50vh;
        width: 100%;
    }

    .rec-card-position {
        margin: auto;
    }

}

