/* font-family: 'Lobster Two', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */


body {
    background-color: #F9FAFC;
    font-family:'Lobster Two',sans-serif;
    font-weight: 500;
}

/* -- NAVBAR -- */

.navbar{
    padding: 1rem;
}


.navbar-light .navbar-brand{
    color: #2a2a2ada;
}

.navbar-light .navbar-nav .nav-link{
    color: rgba(0,0,0,.6);
}

.navbar-brand{
    font-size: 27px;
    font-weight: 600;   
}

.navbar-nav > li > a:hover { 
    background-color:rgb(12, 135, 40) !important;
    padding: 5px;
    border-radius: 15px;
    width: fit-content;
    }

.search-tab, .search-btn{
    border-radius: 25px;
}


/* -- FOOTER -- */

footer {
    font-size: 20px;
}

i{
    font-size: 30px;
} 

/* -- HERO IMAGE -- */

.hero-image{
    background: url('../images/background-kitchen.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Recently recipes card */

.card-margin{
    margin: 0 auto;
    margin-bottom: 30px;
}

.card{
    max-width: 275px;
}

.img-fit{
    object-fit: cover;
}

.added-recipes-title{
    margin-top: 15px;
}

/* ACCOUNTS PAGES */

.accounts-image{
    background: url('../images/Home_page.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.accounts-section-margin{
    margin-bottom: 70px;
    margin-top: 20px;
}

.form-style{
    background-color: #c9edf0;
    padding: 25px 10px;
}


/* LOGIN/REGISTER BTN AND TITLE */

.col-title{
    padding: 60px 10px;
    background-color: rgb(73 69 65 / 87%);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: #f6f2e6;
}

.title{
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
}

.btn-home-page{
    padding: 10px;
}




/* 700px and up */
@media only screen and (min-width: 800px){

    body{
        margin-left: 2%;
        margin-right: 2%;
    }

    .navbar{
        font-size: 1.2rem;
        padding: 1rem;
    }

    .accounts-image{
        background: url('../images/Home_page.jpg') no-repeat center center;
        background-size: cover;
        height: 450px;
        width: 100%;
    }

    .accounts-section-margin{
        margin-top: 40px;
    }

    .image-padding{
        padding-right: 0px;
    }

    .form-left-padding{
        padding-left: 0;
    }

    .form-style{
        padding: 25px 30px;
        height: 450px;
    }

}