{% extends "base.html" %}

{% block content %}
<section>
    <div class="container-fluid hero-image">
        <div class="row">
            <div class="col col-title text-center">
                    <h1 class="text-center title"> Welcome to Home Cooking</h1>
                    <p class="display-6"> Perfect Home recipes for you to enjoy, quick and easy to make </p>
                    <hr>
                    <a href="{% url 'login' %}"></a>
                    <button class="btn btn-warning btn-home-page">Login/Register</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="text-center added-recipes-title">
<h2>Some Inspiration</h2>
</div>

<div class="container">
    <div class="row">
        {% for post in posts %}
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card card-recently-added">
            {% if "placeholder" in post.image.url %}
                <img src="../static/images/board.jpg" alt="board image" class="card-img-top" height="200">
            {% else %}
                <img class="card-img-top" height="200px" src=" {{ post.image.url }}" alt="">
              {% endif %}
                <div class="card-body">
                    <h5 class="card-title rec-card-title"></h5>
                <p class="card-text">{{ post.title }}</p>
                <p class="card-text">By: {{ post.author }}</p>
                <p class="card-text"> {{ post.description|safe|truncatechars:70 }}</p>
                <hr>
                <div class="card-text text-muted">{{ post.published_on}} <i class="far fa-heart"></i></div>
            </div>
        </div>
        </div>
         {% endfor %}
    </div>
  </div>

</section>

<section>
    
</section>



{%endblock%}